.root{
	max-width: 640px;
	height:100vh;
	margin: 0 auto;
}
/* 头部开始 */
.head{
	width: 100%;
	height: 1.5rem;
	background: #f2f2f2;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 800;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head .head-left{
	width: 1.5rem;
	height: 100%;
	font-size: 0.6rem;
	line-height: 1.5rem;
	text-align: center;
	color: #9b9b9b;
}
.head .text{
	width: 1.5rem;
	height: 100%;
	font-size: 0.45rem;
	line-height: 1.5rem;
	text-align: center;
	color: #626262;
}
.head .head-right{
	width: 1.5rem;
	height: 100%;
	font-size: 0.6rem;
	line-height: 1.5rem;
	text-align: center;
	color: #9b9b9b;
}
/* 头部结束 */
/* 菜单开始 */
.caidan{
	width: 100%;
	height: 100%;
	display: flex;
	padding-top: 1.5rem;
	padding-bottom: 1.4rem;
	box-sizing: border-box;
}
.caidan-left{
	width: 2.25rem;
	height: 100%;
	overflow: auto;
}
.caidan-left::-webkit-scrollbar{
	width: 0;
	height: 0;
}
.caidan-left>ul{
	width: 100%;
	height: 207%;
	background: #fefefe;
	box-shadow: 0 0 0.3rem 0.03rem #f0f0f0;
}
.caidan-left>ul li{
	width: 100%;
	height: 1.6rem;
	color: #3d3d3d;
	font-size: 0.38rem;
	line-height: 1.6rem;
	text-align: center;
}
.caidan-left>ul .active{
	font-size: 0.5rem;
	color: #ec843b;
}
.caidan-right{
	width: calc(100% - 2.25rem);
	height: 100%;
	overflow: auto;
}
.caidan-right::-webkit-scrollbar{
	width: 0;
	height: 0;
}
.caidan-right img{
	width: 7.5rem;
	height: 3rem;
	display: block;
	margin: 0 auto;
}
.caidan-right .sji{
	width: 100%;
	height: 2rem;
	margin-top: 0.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.caidan-right .sji .text{
	font-size: 0.38rem;
	color: #3c3c3c;
	line-height: 2rem;
	text-align: center;
	margin: 0 0.32rem;
}
.caidan-right .sji .xian{
	width: 0.6rem;
	height: 0.04rem;
	background: #e0e0e0;
}
.caidan-right>ul{
	width: 7rem;
	height: 5.5rem;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.caidan-right>ul>li{
	margin-left: 0.65rem;
}
.caidan-right>ul img{
	width: 1.4rem;
	height: 1.45rem;
}
.caidan-right>ul>li .wenzi{
	font-size: 0.3rem;
	color: #7d7d7d;
	text-align: center;
	margin-top: 0.44rem;
}
/* 菜单结束 */